<%- include('../partials/header')%>

<div class="header contentBox">
    <div id="welcome">
      <pre id="headerText">welcome.md  X</pre>
    </div>
    <div id="userProfile">
        <pre id="headerText">Find-A-Match.JS X</pre>
      </div>
</div>

<div class="main contentBox">
    <div id="profileGrid">


        <%profile.forEach(function(p){%>
        
                <div id="userCard" class="contentBox">
                    <div><img src="<%= p.images.length > 0 ? p.images[0]?.url : "/stylesheets/defaultImage.png" %>"></div>
                    <div><a id="indexBttn" href="/profiles/<%= p._id %>"><%= p.name%></a></div>
                    <div id="indexloc"><%= p.location %> || <%= p.pronouns %></div>
                </div>
        
        
        <%})%>
    </div>
</div>

</section>
<%- include('../partials/footer')%>