<%- include('../partials/header')%>

<h1>Welcome to Developing Feelings! Go ahead and .find(yourNewLove)</h1>

<%profile.forEach(function(p){%>

<div><%= p.images %></div>
<div><a href="/profiles/<%= p._id %>"><%= p.name%></a>, <%= p.age %></div>
<div><%= p.location %></div>


<%})%>

<%- include('../partials/footer')%>