<%- include('../partials/header')%>

<div class="header contentBox">
    <div id="welcome">
      <pre id="headerText">welcome.md       X  </pre>
    </div>
    <div id="userProfile">
        <pre id="headerText">  Find-A-Match.JS   X  </pre>
      </div>
</div>

<div class="main contentBox">
    <div id="profileGrid">

<%profile.forEach(function(p){%>
<div class="contentBox">
    <img src="<%=p.images%>" alt="Profile Image" />
    <div><a href="/profiles/<%= p._id %>"><%= p.name%></a></div>

    <div><%= p.location %></div>
</div>
  
<%})%>



    </div>
</div>

</section>
<%- include('../partials/footer')%>