<%- include('../partials/header')%>

<h1>Nice profile, <%= profile.name %>!</h1>


<div><%= profile.location %></div>
<div><%= profile.desires %></div>
<div><%= profile.aboutMe %></div>
<div><%= profile.languages %></div>

<a href="/profiles/me/edit">EDIT PROFILE</a>

<%- include('../partials/footer')%>