<%- include('../partials/header')%>

<h1>Say hi to <%= %></h1>

<div id="userDetails">  
        <form>
            <div>Age: <%=  %></div>
            <div>Lives In: <%=  %></div>
            <div>Looking for: <%=  %></div>
            <div>About: <%=  %></div>
            <div>Preferred Languages: <%=  %></div>
            <div>Job Title: <%=  %></div>
            <div id="likeInfo">*Start a chat with <%= %>!>
            </div>
        </form>
    </div>

<%- include('../partials/footer')%>