<%- include('../partials/header')%>

<h1>Meet <%=profile.name%></h1>
<form action="/profiles" method="POST">
    <div><%= profile.birthday %></div>
    <div>Lives In: <%= profile.location %></div>
    <div>Looking for: <%= profile.desires %></div>
    <div>About: <%= profile.aboutMe %></div>
    <div>Preferred Languages: <%= profile.languages %></div>
    <div>Job Title: <%= profile.jobTitle %></div>

    <button type="submit">YES</button>
    <button type="submit">NO</button>
</form>


<%- include('../partials/footer')%>