<%- include('../partials/header')%>

<h1>Edit Profile</h1>

<div>Name:<%= profile.name%></div><br>
<div>Birthday: <%= profile.birthday%>"</div><br>
    
<!-- Need a 'user-profile' page where we can edit info -->
<form action="/users/:id" method="POST">
    <div>Gender: 
        <select name="gender">
            <option name="male">Male</option>
            <option name="female">Female</option>
            <option name="other">Other</option>
        </select>
    </div>
    <div>Located in: <input type="text" name="location" value="<%= profile.location%>"></div><br>
    <div>What is your current position? <input type="text" name="jobTitle" value="<%= profile.jobTitle%>"></div><br>
    <div>What are your favorite programming languages? <br>
        <select name="languages" multiple size="4">
            <option name="C++">C++</option>
            <option name="C#">C#</option>
            <option name="Python">Python</option>
            <option name="Javascript">Javascript</option>
            <option name="Java">Java</option>
            <option name="CSS">CSS</option>
            <option name="HTML">HTML</option>
            <option name="Rust">Rust</option>
            <option name="PHP">PHP</option>
            <option name="C">C</option>
            <option name="Go">Go</option>
            <option name="Scratch">Scratch</option>
        </select>
    </div><br>
    <div>What are you looking for? 
        <select name="desires" value="<%= profile.desires%>">
            <option name="Long-Term Relationship">Long-Term Relationship</option>
            <option name="Short-Term Fun">Short-Term Fun</option>
            <option name="Open-Relationship">Open-Relationship</option>
            <option name="Undecided">Undecided</option>
        </select>
    </div><br>
    <div>Tell us about yourself: <br>
        <textarea name="aboutMe" value="<%= profile.aboutMe%>" cols="30" rows="10" maxlength="500" placeholder=" max-length 500 characters" required>
        </textarea>
    </div><br>
    <div>Pronouns:
        <select name="pronouns" value="<%= profile.pronouns%>">
            <option selected></option>
            <option name="he/him">he/him</option>
            <option name="she/her">she/her</option>
            <option name="they/them">they/them</option>
            <option name="other">other</option>
            <option name="prefer not to say">prefer not to say</option>
        </select>
    </div><br>
    <div>Photos
        <input type="image">
    </div><br>
    <div><button type="submit">Update Profile</button></div>
</form>

<%- include('../partials/footer')%>